@tailwind base;

@tailwind components;

.card {
    @apply shadow rounded-lg bg-white overflow-hidden;
}

.card-body {
    @apply px-6 py-4;
}

.card-footer {
    @apply px-5 py-3 flex bg-gray-100 items-center justify-end;
}

.container {
    @apply max-w-screen-lg mx-auto px-4;
}

.flex-between {
    @apply flex justify-between items-center;
}

.flex-center {
    @apply flex justify-center items-center;
}

.btn {
    @apply items-center justify-center inline-block px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded transition ease-in-out duration-150;
}

.btn-orange {
    @apply bg-orange-500 text-white;
}

.btn-orange:hover {
    @apply bg-orange-600;
}

@tailwind utilities;
