<template>
	<div>
		<div class="card flex-1 mb-4">
			<div class="flex text-center text-sm">
				<div class="flex-1 p-3 bg-orange-500 text-white" @click="$refs.loginModal.show()">Login</div>
				<div class="flex-1 p-3 bg-gray-300 text-black" @click="$refs.registerModal.show()">Register</div>
			</div>
		</div>

		<modal ref="loginModal">
			<template #header>
				<p class="text-orange-500">Login to your account</p>
			</template>
			<template #default>
				<form action>
					<form-input
						label="Email"
						v-model="login.email"
						:error="login.errors.has('email') && login.errors.errors.email[0]"
					></form-input>
					<form-input label="Password" v-model="login.password" type="password"></form-input>
				</form>
			</template>
			<template #footer>
				<button class="btn bg-orange-500 text-white" @click="loginAsync">Login</button>
			</template>
		</modal>

		<modal ref="registerModal">
			<template #header>
				<p class="text-orange-500">Create your account</p>
			</template>
			<template #default>
				<form action>
					<form-input
						label="Full Name"
						name="name"
						v-model="register.name"
						:error="register.errors.has('name') && register.errors.errors.name[0]"
					></form-input>
					<form-input
						label="Email"
						v-model="register.email"
						name="email"
						:error="register.errors.has('email') && register.errors.errors.email[0]"
					></form-input>
					<form-input
						label="phone"
						name="phone"
						v-model="register.phone"
						:error="register.errors.has('phone') && register.errors.errors.phone[0]"
					></form-input>
					<form-input
						label="Password"
						v-model="register.password"
						type="password"
						:error="register.errors.has('password') && register.errors.errors.password[0]"
					></form-input>
					<form-input label="Confirm Password" v-model="register.password_confirmation" type="password"></form-input>
				</form>
			</template>
			<template #footer>
				<button class="btn bg-orange-500 text-white" @click="registerAsync">Register</button>
			</template>
		</modal>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				login: new Form({
					email: "",
					password: ""
				}),
				register: new Form({
					name: "",
					email: "",
					phone: "",
					password: "",
					password_confirmation: ""
				})
			};
		},

		methods: {
			async loginAsync() {
				try {
					const { data } = await this.login.post(
						"/login"
					);
					window.location.reload();
				} catch (error) {}
			},

			async registerAsync() {
				try {
					const { data } = await this.register.post(
						"/register"
					);
					window.location.reload();
				} catch (error) {}
			}
		}
	};
</script>
