<template>
	<div>
		<div class="p-4 border-b">
			<div class="md:flex">
				<form-input
					class="flex-1"
					label="Emergency contact's name"
					v-model="ticket.name"
					icon="user"
					name="name"
					:error="ticket.errors.has('name') && ticket.errors.errors.name[0]"
				></form-input>

				<form-input
					class="flex-1 mt-3 md:mt-0 md:ml-3"
					label="Emergency contact's phone"
					v-model="ticket.phone"
					icon="phone"
					name="phone"
					:error="ticket.errors.has('phone') && ticket.errors.errors.phone[0]"
				></form-input>
			</div>
		</div>
		<div class="p-4 space-y-4">
			<div class="flex-1 flex justify-between">
				<button
					@click="ticket.quantity > 1 ? --ticket.quantity : ''"
					class="p-4 text-gray-200 py-1 rounded font-black"
					:class="`${ticket.quantity <= 1 ? 'bg-gray-500' : 'bg-gray-700'}`"
				>-</button>
				<p type="text" class="font-light text-center">
					<span class="text-2xl font-semibold">{{ ticket.quantity }}</span>
					<app-icon name="x" :size="4"></app-icon>
					<span class="text-xs text-green-600">GHc</span>
					<span class="text-2xl text-green-600">{{ price / 100 }}</span>
				</p>
				<button
					@click="ticket.quantity++"
					class="p-4 bg-gray-700 text-gray-200 py-1 rounded font-black"
				>+</button>
			</div>
			<div class="flex-1">
				<button
					@click="purchaseTicket"
					class="w-full py-3 rounded"
					:class="!user || ticket.busy ? 'text-gray-700 bg-gray-300' : 'bg-orange-600 text-white' "
					:disabled="!user"
				>
					<spinner v-if="ticket.busy"></spinner>
					<span v-else-if="user">Pay GHC {{ total }}</span>
					<span v-else class="text-xs">Please Login/Register to purchase ticket</span>
				</button>
			</div>
		</div>

		<modal ref="ticketModal">
			<template #default>
				<spinner></spinner>
			</template>
		</modal>
	</div>
</template>

<script>
	export default {
		props: ["price", "user", "schedule"],

		data() {
			return {
				ticket: new Form({
					schedule: this.schedule,
					user_id: (this.user && this.user.id) || null,
					quantity: 1,
					name: "",
					phone: ""
				})
			};
		},

		computed: {
			total() {
				return (this.ticket.quantity * this.price) / 100;
			}
		},

		methods: {
			async purchaseTicket() {
				if (!this.user) return;
				try {
					// this.$refs.ticketModal.show();
					// this.ticket.busy = true;
					const { data } = await this.ticket.post(
						"/api/tickets/purchase"
					);
					// console.log(data);
					window.location = data.response.data.link;
				} catch (error) {}
			}
		}
	};
</script>
