<template>
	<nav class="bg-gray-900 text-gray-200 sm:flex justify-between">
		<div class="flex justify-between items-center p-4">
			<a class="font-bold text-2xl tracking-wider" href="/">
				<span class="text-orange-500">Ticket</span>
				<span class="text-gray-400">afriq</span>
			</a>
			<div class="sm:hidden">
				<button class="block focus:outline-none" @click="show = !show">
					<svg
						v-if="show"
						width="24"
						height="24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-x"
					>
						<path d="M18 6L6 18M6 6l12 12" />
					</svg>
					<svg
						v-else
						width="24"
						height="24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-menu"
					>
						<path d="M3 12h18M3 6h18M3 18h18" />
					</svg>
				</button>
			</div>
		</div>

		<div v-if="isGuest" class="px-4 pb-4 hidden sm:flex space-y-3">
			<template v-if="isGuest">
				<a href="/login">Login</a>
				<a href="/register">Register</a>
			</template>
			<template v-else>
				<a href="#">
					<span>{{user.name}}</span>
				</a>
				<a class href="/logout" @click="$refs.logoutForm.submit()">Logout</a>
			</template>
		</div>

		<form ref="logout-form" action="/logout" method="POST" style="display: none;">
			<input type="hidden" name="csrf-token" :value="csrf" />
		</form>
	</nav>
</template>

<script>
	export default {
		props: {
			isGuest: { type: Number },
			user: { type: [Object, String] },
			csrf: { type: String }
		},

		data() {
			return {
				show: false,
				links: {}
			};
		}
	};
</script>