<template>
	<div class="mb-2">
		<label
			v-if="label"
			:for="name"
			class
			:class="`text-xs inline-block mb-1 text-gray-700 ${labelClass} `"
		>{{ label }}</label>

		<div class="flex rounded border border-gray-400 focus:border-indigo-800">
			<div class="flex-1">
				<div v-if="['select'].includes(type)" class="relative">
					<select
						class="appearance-none border border-l0 border-white cursor-pointer focus:border-indigo-800 focus:outline-none focus:shadow-outline-blue pr-8 px-3 py-2 rounded text-gray-900 w-full"
						id="grid-state"
						:name="name"
						v-on:change="updateValue($event.target.value)"
						:value="value"
						:required="required"
						:class="`${error && 'border-red-600'}`"
					>
						<slot name="select_options"></slot>
					</select>
					<div
						class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
					>
						<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
							<path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
						</svg>
					</div>
				</div>
				<textarea
					v-else-if="['textarea'].includes(type)"
					ref="textarea"
					:name="name"
					:placeholder="placeholder"
					:value="value"
					:type="type"
					:required="required"
					v-on:input="updateValue($event.target.value)"
					class="appearance-none block border border-r-0 border-white focus:border-indigo-800 focus:outline-none focus:shadow-outline-blue placeholder-gray-500 px-3 py-2 rounded text-gray-900 w-full"
					:class="`${error && 'border-red-600'} ${icon && 'pr-10'}`"
				></textarea>

				<VueCtkDateTimePicker
					v-else-if="['date', 'time', 'datetime'].includes(type)"
					:type="type"
					v-model="date"
					:only-time="type == 'time'"
					:only-date="type == 'date'"
					color="#ed8936"
					:min-date="minDatetime"
					:max-date="maxDatetime"
					output-format="'YYYY-MM-DD'"
					formatted="ddd, MMM D, YYYY"
					:minute-step="5"
					v-on:input="updateValue"
					:required="required"
					:value="value"
					:name="name"
					class="appearance-none block -m-1 focus:border-indigo-800 focus:outline-none focus:shadow-outline-blue rounded-l text-gray-900 w-full"
					:class="`${error && 'border-red-600'}`"
				/>

				<input
					v-else
					:name="name"
					:placeholder="placeholder"
					:value="value"
					:type="type"
					:required="required"
					v-on:input="updateValue($event.target.value)"
					class="appearance-none block border border-white border-r-0 rounded-l focus:border-indigo-800 focus:outline-none focus:shadow-outline-blue placeholder-gray-500 px-3 py-2 text-gray-900 w-full"
					:class="`${error && 'border-red-600'} ${icon && 'pr-10'}`"
				/>
				<!-- <input
					v-else
					:name="name"
					:placeholder="placeholder"
					:value="value"
					:type="type"
					:required="required"
					v-on:input="updateValue($event.target.value)"
					class="appearance-none block border border-gray-400 focus:border-indigo-800 focus:outline-none focus:shadow-outline-blue placeholder-gray-500 px-3 py-2 rounded-l text-gray-900 w-full"
					:class="`${error && 'border-red-600'} ${icon && 'pr-10'}`"
				/>-->
			</div>
			<div class="flex-center">
				<span
					v-if="iconSvg"
					v-html="iconSvg"
					class="text-gray-500 w-6 h-6"
					:class="error && 'text-red-600'"
				></span>
				<!-- <span
					v-if="iconSvg"
					v-html="iconSvg"
					class="absolute inset-y-0 right-0 mt-3 mr-3 text-gray-500 w-6 h-6"
					:class="error && 'text-red-600'"
				></span>-->
			</div>
		</div>
		<span v-if="error" class="text-xs text-red-600">{{ error }}</span>
	</div>
</template>

<script>
	import feather from "feather-icons";
	// import { Datetime } from 'vue-datetime'
	// import { DateTime } from 'luxon'
	// import 'vue-datetime/dist/vue-datetime.css'
	import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
	import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css";

	import autosize from "autosize";
	export default {
		components: {
			// Datetime
			VueCtkDateTimePicker
		},

		// props: ['name', 'placeholder', 'type', 'value', 'label', 'labelClass', 'icon', 'error'],
		props: {
			name: { type: String },
			placeholder: { type: String },
			type: { type: String, default: "text" },
			value: { type: [String, Number, Boolean], default: "" },
			minDatetime: { type: [String, Date] },
			maxDatetime: { type: [String, Date] },
			label: { type: String },
			labelClass: { type: String },
			icon: { type: String },
			error: { type: [String, Boolean] },
			required: { type: Boolean, default: false }
		},

		mounted() {
			autosize(this.$refs.textarea);
		},

		data() {
			return {
				iconSvg: null,
				date: ""
			};
		},

		created() {
			autosize(this.$refs.textarea);
			if (this.icon) {
				this.iconSvg = feather.icons[this.icon]?.toSvg({
					class: "h-5 w-5"
				});
			}
		},

		methods: {
			updateValue: function(value) {
				this.$emit("input", value);
			},

			log(e) {
				console.log(e);
			}
		}
	};
</script>
