<template>
	<div class="card" @click="$emit('click')">
		<div :class="`card-body ${dark ? 'bg-gray-800' : ''} `">
			<div
				:class="
                    `font-bold text-xs text-center uppercase tracking-wider ${
                        dark ? 'text-gray-400' : 'text-orange-500'
                    }`
                "
			>{{ title }}</div>
			<div
				:class="
                    `mt-2 text-center text-3xl ${
                        dark ? 'text-gray-300' : 'text-gray-900'
                    }`
                "
			>{{ value }}</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			title: {
				type: String
			},
			value: {
				type: [String, Number]
			},
			dark: {
				type: Boolean,
				default: false
			}
		}
	};
</script>
