<template>
	<div v-if="showModal" class="fixed inset-0 flex items-center justify-center">
		<div class="absolute inset-0 bg-gray-700 opacity-75" @click="!stayOnTop ? hide() : null"></div>

		<div class="h-full w-full flex justify-center items-center py-4 overflow-y-auto">
			<div
				class="z-50 bg-white rounded-lg shadow-xl mx-2 w-full max-h-full sm:max-w-lg"
				role="dialog"
				aria-modal="true"
				aria-labelledby="modal-headline"
			>
				<div class="px-6 pt-3 flex-between rounded-t-lg">
					<div class="flex-1">
						<slot name="header"></slot>
					</div>
					<span v-if="!stayOnTop" class="text-2xl text-gray-600 cursor-pointer" @click="hide">&times;</span>
				</div>
				<div class="bg-white rounded-t-lg px-6 pb-4">
					<slot></slot>
				</div>
				<div class="bg-gray-100 px-6 py-3 flex justify-end space-x-4 rounded-b-lg">
					<slot name="footer"></slot>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		props: { stayOnTop: { type: Boolean, default: false } },
		data() {
			return {
				showModal: false
			};
		},

		methods: {
			show() {
				this.showModal = true;
			},
			hide() {
				this.showModal = false;
			}
		}
	};
</script>
