<template>
	<span
		:class="`mx-4 loader inline-block ease-linear rounded-full border-t-2 ${sizes[size] || sizes.md} ${borderColor ? borderColor: 'border-gray-700'}`"
	></span>
</template>

<script>
	export default {
		props: ["size", "borderColor"],
		data() {
			return {
				sizes: {
					lg: "h-8 w-8",
					md: "h-6 w-6",
					sm: "h-4 w-4"
				}
			};
		}
	};
</script>

<style>
	.loader {
		/* border-top-color: #3498db;
		        border-bottom-color: #3498db; */
		-webkit-animation: spinner 0.5s linear infinite;
		animation: spinner 0.5s linear infinite;
	}

	@-webkit-keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
</style>